
/* base */

*{  
	font-family: Manrope;
	box-sizing: border-box;
}

body{
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	cursor: pointer;
	text-decoration: underline;
}

/* text */

.lbr-text-logo{
	font-family: league_spartanbold;
	color: #fc3e6b;
	font-size: 1.4rem;
}

.lbr-text-right{
	text-align: right;
}

.lbr-text-lead{
	font-size: 1.3rem;
}

.lbr-text-meta{
	font-size: 0.9rem;
}

/* background */

.lbr-background-default{
	background-color: #fff;
}

/* flex */

.lbr-flex{
	display: flex;
}

.lbr-flex-vertical{
	flex-direction: column;
}

.lbr-flex-space-between{
	justify-content: space-between;
}

.lbr-flex-center{ /* main axis */
	justify-content: center;
}

.lbr-flex-middle{ /* secondary axis */
	align-items: center;
}

.lbr-flex-expand{
	flex-grow: 1;
}

/* height */

.lbr-height-viewport{
	height: 100vh;
}

.lbr-height-full{
	height: 100%;
}

/* width */

.lbr-width-full{
	width: 100%;
}

.lbr-width-1-2{
	width: 50%;
}

/* container */

@media only screen and (min-width: 768px){

	.lbr-container{
		width: 900px;	
	}
	
	.lbr-container-large{
		width: 90%;
	}
}

/* margin */

.lbr-margin-0{
	margin: 0;
}

.lbr-margin-auto-horizontal{
	margin-left: auto;
	margin-right: auto;
}

.lbr-margin-bottom{
	margin-bottom: 16px;
}

.lbr-margin-left{
	margin-left: 16px;
}

.lbr-margin-small-left{
	margin-left: 8px;
}

.lbr-margin-small-right{
	margin-right: 8px;
}


/* padding */

.lbr-padding{
	padding: 24px;
}

.lbr-padding-small{
	padding: 8px;
}

.lbr-padding-left{
	padding-left: 24px;
}


.lbr-padding-small-left{
	padding-left: 8px;
}


.lbr-padding-small-bottom{
	padding-bottom: 8px;
}

.lbr-padding-horizontal{
	padding-left: 24px;
	padding-right: 24px;
}

/* modal */

.lbr-modal{
	position: fixed;
	margin: 0 auto;
	z-index: 2;
	background: linear-gradient(to left, rgba(96, 108, 136, 0.8), rgba(63, 76, 107, 0.8));
	height: 100vh;
	width: 100%;
	padding: 24px; 
}

@supports((backdrop-filter: blur(10px))){

	.lbr-modal{
		background-color: transparent;
		backdrop-filter: blur(10px);
	}
}

/* form */

.lbr-button{
	border: none;
	border: 1px solid #d6d6d6;
	border-radius: 8px;
	background-color: inherit;
	padding: 12px 24px;
}

.lbr-button:hover{
	cursor: pointer;
}

.lbr-label-inline{
	width: 70px;
}

.lbr-input{
	font-size: inherit;
	border: none;
	border-bottom: 1px dashed #c0c0c0;
}

.lbr-input:focus{
	outline: none;
	border-bottom: 1px dashed #fc3e6b;
}

.lbr-textarea-minimal{
	margin: 0;
	padding: 24px;
	width: 100%;
	height: 100%;
	resize: none;
	background: transparent;
	border: none;
	scrollbar-width: thin;

}

.lbr-textarea-minimal:focus{
	outline: none;
}

/* tab */

.lbr-tab button:hover,
.lbr-tab-vertical button:hover{
	cursor: pointer;
}

/* tab: horizontal */

.lbr-tab button{
	padding: 8px 24px;
	font-size: inherit;
	background-color: inherit; 
	border: none;
	border-bottom: 1px solid #d6d6d6;
}

.lbr-tab button.active{
	border-radius: 8px 8px 0 0;
	border: 1px solid #d6d6d6;
	border-bottom: 1px solid white;
}

.lbr-tab button:first-of-type.active{
	border-left: none;
	border-radius: 0 8px 0 0;
}

/* menu */

.lbr-menu button{
	padding: 8px 24px;
	font-size: inherit;
	background-color: inherit; 
	border: none;
	border-bottom: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
}

.lbr-menu button:hover{
	cursor: pointer;
}

.lbr-menu button.active{
	background-color: #fff;
	border: none;
	border-radius: 0;
	border-left: 1px solid #d6d6d6;
}

/* tab: vertical */

.lbr-tab-vertical button,
.lbr-tab-vertical-dashed button{
	padding: 12px 24px;
	font-size: inherit;
	background-color: inherit; 
	border: none;
	border-bottom: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}

.lbr-tab-vertical button:first-of-type,
.lbr-tab-vertical-dashed button:first-of-type{
	border-top: 1px solid #d6d6d6;
}

.lbr-tab-vertical button.active{
	border-right: 1px solid #fff;
}

.lbr-tab-vertical-dashed button.active{
	background-color: aliceblue;
}

/* border */

.lbr-border-radius{
	border-radius: 8px;
}

.lbr-border{
	border: 1px solid #d6d6d6;
}

.lbr-border-left{
	border-left: 1px solid #d6d6d6;
}

.lbr-border-right{
	border-right: 1px solid #d6d6d6;
}

.lbr-border-top{
	border-top: 1px solid #d6d6d6;
}

.lbr-border-bottom{
	border-bottom: 1px solid #d6d6d6;
}
